# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Some of the popular languages that Data Scientists use .
-  Some of the commonly used libraries used by Data Scientists.
- some of data since tools.
- examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. paython
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
Libraries in Python, and Libraries used in other languages Now, scientific computing and Visualization libraries :
1. Panda
2. NumPy
3. Matplotlib

| Data Science Tools  |
| --------- |
| RStudio |
| GitHub |
| Jupyter Notebook |

<h3> Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [6]:
(3*4)+5

17

#In this code cell write an expression that converts 200 minutes into hours.
  This will convert 200 minutes to hours by diving by 60.

In [10]:
200/60

3.3333333333333335

<h2> Author : Shammaa <h2>